.map-dashboard {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium));
    width: 100%;
    height: 90vh;
    --width-right-container: 360px;

    .header {
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .heading {
            color: var(--color-primary);
        }
    }

    .top-content {
        display: flex;
        flex-grow: 1;
        height: 80vh;

        .left-container {
            padding: var(--spacing-medium);
            width: calc(100% - var(--width-right-container));
            height: 100%;

            .map-container {
                width: 100%;
                height: 100%;
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-medium);
            width: var(--width-right-container);

            .info-box {
                flex-basis: 40%;

                .inline-block {
                    display: flex;

                    >* {
                        flex-grow: 1;
                    }
                }
            }

            .download-box {
                display: flex;
                align-self: flex-end;
                flex-direction: column;

                .download-link {
                    display: flex;
                    align-items: center;
                    padding: var(--spacing-small);
                    text-decoration: none;
                    color: var(--color-text);

                    .icon {
                        flex-shrink: 0;
                        padding: var(--spacing-extra-small);
                        font-size: var(--font-size-extra-large);
                    }
                }
            }
        }
    }

    .bottom-content {
        flex-shrink: 0;

        .table {
            width: 100%;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-top: var(--color-separator) solid var(--width-separator-thin);
        border-bottom: var(--color-separator) solid var(--width-separator-thin);
        padding: var(--spacing-medium);

        .button-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 36px;

            .button {
                font-size: var(--font-size-super-large);
            }

            .conflict-button {
                background-color: var(--color-conflict);
                color: var(--color-foreground);
            }

            .disaster-button {
                background-color: var(--color-disaster);
                color: var(--color-foreground);
            }
        }
    }
}
