.map-tooltip {
    .heading {
        margin: 0;
        padding: var(--spacing-extra-small) var(--spacing-small);
    }
    .block {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }
}

.map-dashboard {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-extra-large) - var(--spacing-large));
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-large) - var(--spacing-small));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-small);
            color: var(--color-primary);
        }

        .button-container {
            display: flex;
            align-items: center;

            .button {
                margin: var(--spacing-small);
                text-transform: uppercase;
            }

            .conflict-button {
                background-color: var(--color-conflict);
                color: var(--color-foreground);
            }

            .disaster-button {
                background-color: var(--color-disaster);
                color: var(--color-foreground);
            }
        }
    }

    .top-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .left-container {
            padding: var(--spacing-large);

            .map-container {
                width: 100%;
                min-height: 60vh;
            }

            .disclaimer {
                margin: var(--spacing-small) 0;
                color: var(--color-text-disabled);
                font-style: italic;
            }
        }

        .right-container {
            display: flex;
            justify-content: space-between;
            padding: var(--spacing-large);

            .info-box {
                flex-basis: 50%;

                .header {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: var(--spacing-large) 0;

                    .heading {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0 var(--spacing-small);

                        .tooltip {
                            margin: 0 var(--spacing-medium);
                        }

                        .tooltip-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                        }
                    }

                    span {
                        padding: 0 var(--spacing-small);
                    }
                }

                .inline-block {
                    display: flex;
                    flex-wrap: wrap;

                    >* {
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    .download-box {
        display: flex;
        align-items: center;
        padding: var(--spacing-large);

        .download-link {
            display: flex;
            align-items: center;
            padding: var(--spacing-small);
            text-decoration: underline;
            color: var(--color-text);

            .icon {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
                font-size: var(--font-size-extra-large);
            }

            .text {
                margin: 0 var(--spacing-small);
            }
        }
    }

    .bottom-content {
        flex-shrink: 0;

        .table {
            padding: var(--spacing-large);
            width: 100%;

            .year {
                width: 96px;
            }
        }

        .pager-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--spacing-extra-small) var(--spacing-large);
        }
    }
}

.pending {
    z-index: 111;
}
