.map-dashboard {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-extra-large) - var(--spacing-large));
    width: 100%;
    height: 90vh;
    --width-right-container: 360px;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-large) - var(--spacing-small));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-small);
            color: var(--color-primary);
        }

        .button-container {
            display: flex;
            align-items: center;

            .button {
                margin: var(--spacing-small);
                padding: var(--spacing-large);
                text-transform: uppercase;
                font-size: var(--font-size-large);
            }

            .conflict-button {
                background-color: var(--color-conflict);
                color: var(--color-foreground);
            }

            .disaster-button {
                background-color: var(--color-disaster);
                color: var(--color-foreground);
            }
        }
    }

    .top-content {
        display: flex;
        flex-grow: 1;
        height: 80vh;

        .left-container {
            padding: var(--spacing-large);
            width: calc(100% - var(--width-right-container));
            height: 100%;

            .map-container {
                width: 100%;
                height: 100%;
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-large);
            width: var(--width-right-container);

            .info-box {
                flex-basis: 40%;

                .heading {
                    display: flex;
                    align-items: center;

                    .tooltip {
                        margin: 0 var(--spacing-medium);
                    }
                }

                .inline-block {
                    display: flex;

                    >* {
                        flex-grow: 1;
                    }
                }

                &.top-box {
                    margin-bottom: var(--spacing-extra-large);
                }
            }
        }
    }

    .download-box {
        display: flex;
        align-items: center;
        padding: var(--spacing-large);

        .download-link {
            display: flex;
            align-items: center;
            padding: var(--spacing-small) var(--spacing-medium);
            text-decoration: underline;
            color: var(--color-text);

            .icon {
                flex-shrink: 0;
                padding: var(--spacing-extra-small);
                font-size: var(--font-size-extra-large);
            }
        }
    }

    .bottom-content {
        flex-shrink: 0;

        .table {
            padding: var(--spacing-large);
            width: 100%;
        }

        .pager-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--spacing-extra-small) var(--spacing-large);
        }
    }
}

.pending {
    z-index: 111;
}
