.disaster {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-extra-large) - var(--spacing-large));
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-large) - var(--spacing-small));

        .button {
            flex-shrink: 0;
            margin: var(--spacing-small);
        }

        .heading {
            flex-grow: 1;
            margin: var(--spacing-small);
            color: var(--color-primary);
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .filters {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            flex-wrap: wrap;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: calc(var(--spacing-large) - var(--spacing-small));

            .filter {
                margin: var(--spacing-small);
            }

            .slider {
                margin: 0 var(--spacing-extra-large);
                width: 240px;
            }

            .button {
                margin: var(--spacing-small);
            }
        }

        .information-bar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-large);

            .info-heading {
                flex-basis: 100%;
            }

            .numbers-container {
                display: flex;

                .left-container {
                    display: flex;
                    flex-direction: column;

                    .left-bottom-container {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .number-block {
                        margin: var(--spacing-small);
                        padding: var(--spacing-large);
                    }
                }
            }

            .charts-container {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                padding: calc(var(--spacing-large) - var(--spacing-small));

                .chart {
                    margin: var(--spacing-small);
                }
            }
        }

        .table-container {
            flex-grow: 1;
            padding: var(--spacing-large);

            .table {
                width: 100%;

                .year {
                    width: 96px;
                }

                .date {
                    width: 120px;
                }

                .event {
                    width: 320px;
                }
            }
        }

        .footer-container {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            padding: var(--spacing-small) var(--spacing-large);
        }
    }
}

.popup {
    z-index: 11;
}

.pending {
    z-index: 111;
}
